.cards {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 160px;
  /*item styling*/
}
.cards__item {
  background-color: white;
  padding: 45px;
  flex: 1 1 200px; /*prevents the card changing size despite screen size*/
  max-width: 200px;
  min-height: 300px;
  align-items: flex-start;
  text-align: left;
  /*card styling*/
  /*card styling*/
  /*card styling*/
  /*title styling*/
  /*text description styling*/
  /*button styling :D*/
}
.cards__item--sedans {
  background-color: hsl(31, 77%, 52%); /*orange background*/
  border-top-left-radius: 10px; /*to curve the top left corner*/
  border-bottom-left-radius: 10px; /*to curve the bottom left corner*/
}
.cards__item--suvs {
  background-color: hsl(184, 100%, 22%); /*dark cyan background*/
}
.cards__item--luxury {
  background-color: hsl(179, 100%, 13%); /*very dark cyan background*/
  border-top-right-radius: 10px; /*to curve the top right corner*/
  border-bottom-right-radius: 10px; /*to curve the bottom right corner*/
}
.cards__item__title {
  font-family: "Big Shoulders Display";
  font-weight: 700;
  color: hsl(0, 0%, 95%); /*very light grey*/
  text-transform: uppercase;
}
.cards__item__description {
  font-family: "Lexend Deca";
  font-weight: 400;
  font-size: 14.3px;
  color: hsla(0, 0%, 100%, 0.75); /*transparent white*/
  line-height: 1.6;
  padding-bottom: 35px;
}
.cards__item__button {
  display: inline-block;
  margin-top: 30px;
  font-family: "Lexend Deca";
  font-weight: 400;
  font-size: 15px;
  text-decoration: none;
  border: 2px solid hsl(0, 0%, 95%);
  background-color: hsl(0, 0%, 95%);
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: hsl(0, 0%, 20%);
}
.cards__item__button:hover {
  background-color: transparent;
  color: hsl(0, 0%, 95%);
}
.cards__item--sedans .cards__item__button {
  color: hsl(31, 77%, 52%);
}
.cards__item--sedans .cards__item__button:hover {
  color: hsl(0, 0%, 95%);
}
.cards__item--suvs .cards__item__button {
  color: hsl(184, 100%, 22%);
}
.cards__item--suvs .cards__item__button:hover {
  color: hsl(0, 0%, 95%);
}
.cards__item--luxury .cards__item__button {
  color: hsl(179, 100%, 13%);
}
.cards__item--luxury .cards__item__button:hover {
  color: hsl(0, 0%, 95%);
}

/*mobile design styling*/
@media (max-width: 375px) {
  .cards {
    flex-direction: column;
    padding: 25px;
  }
  .cards__item {
    max-width: 100%;
    min-height: 320px;
  }
  .cards__item--sedans {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
  }
  .cards__item--luxury {
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .cards__item__button {
    margin-top: 20px;
  }
  .cards__item__description {
    padding: 0;
  }
}
.attribution a {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(191, 0, 255);
  text-decoration: none;
  font-weight: bold;
}
.attribution a:hover {
  color: rgb(95, 0, 95);
  font-style: italic;
}/*# sourceMappingURL=style.css.map */