.cards{
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 160px;

    &__item{
        background-color: white;
        padding: 45px;
        flex: 1 1 200px; /*prevents the card changing size despite screen size*/
        max-width: 200px;
        min-height: 300px;
        align-items: flex-start;
        text-align: left;

        &--sedans{
            background-color: hsl(31, 77%, 52%); /*orange background*/
            border-top-left-radius: 10px; /*to curve the top left corner*/
            border-bottom-left-radius: 10px; /*to curve the bottom left corner*/
        }
    
        &--suvs{
            background-color: hsl(184, 100%, 22%); /*dark cyan background*/
        }
    
        &--luxury{
            background-color: hsl(179, 100%, 13%); /*very dark cyan background*/
            border-top-right-radius: 10px; /*to curve the top right corner*/
            border-bottom-right-radius: 10px; /*to curve the bottom right corner*/
        }
    
        &__title{
            font-family: 'Big Shoulders Display';
            font-weight: 700;
            color: hsl(0, 0%, 95%); /*very light grey*/
            text-transform: uppercase;
        }
    
        &__description{
            font-family: 'Lexend Deca';
            font-weight: 400;
            font-size: 14px;
            color: hsla(0, 0%, 100%, 0.75); /*transparent white*/
            line-height: 1.6;
            padding-bottom: 50px;
        }

        /*button styling :D*/
        &__button{
            display: inline-block;
            margin-top: 30px;
            font-family: 'Lexend Deca';
            font-weight: 400;
            font-size: 15px;
            text-decoration: none;
            border: 2px solid hsl(0, 0%, 95%);
            background-color: hsl(0, 0%, 95%);
            border-radius: 50px;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            color: hsl(0, 0%, 20%);

            &:hover{
                background-color: transparent;
                color: hsl(0, 0%, 95%);
            }
        }

        &--sedans &__button{
            color: hsl(31, 77%, 52%);

            &:hover{
                color: hsl(0, 0%, 95%);
            }
        }

        &--suvs &__button{
            color: hsl(184, 100%, 22%);

            &:hover{
                color: hsl(0, 0%, 95%);
            }
        }

        &--luxury &__button{
            color: hsl(179, 100%, 13%);

            &:hover{
                color: hsl(0, 0%, 95%)
            }
        }
    }
}

@media (max-width: 375px){
    .cards {
        flex-direction: column;
        padding: 25px;
    }

    .cards__item {
        max-width: 100%;
        min-height: 325px;

        &--sedans {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 0;
        }

        &--luxury {
            border-top-right-radius: 0;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        &__button {
            margin-top: 20px;
        }

        &__description {
            padding: 0;
        }
    }
}

.attribution{
    a{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: rgb(191, 0, 255); // Testkleur
        text-decoration: none;
        font-weight: bold;
    }

    a:hover{
        color: rgb(95, 0, 95);
        font-style: italic;
    }
}